.tab-buttons{
    margin-bottom: 20px;
    border-bottom: 2px solid #dee2e6;
}

.tab-btn{
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s;
}

.tab-btn.active{
    opacity: 1;
    border-bottom: 2px solid #007bff;
}

.tap-panel{
    display: none;
    animation: fadeIn 0.3s;
}

.tab-panel.active {
    display: block;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }